<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.data> 
    <DbProviderFactories> 
      <add name="dotConnect for MySql" invariant="Devart.Data.MySql" description="Devart dotConnect for MySql" type="Devart.Data.MySql.MySqlProviderFactory, Devart.Data.MySql, Version=8.17.1686.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
    <add name="dotConnect for MySql" invariant="Devart.Data.MySql" description="Devart dotConnect for MySql" type="Devart.Data.MySql.MySqlProviderFactory, Devart.Data.MySql, Version=8.19.1944.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/></DbProviderFactories>
  </system.data></configuration>
